/* This stylesheet is used to style the admin option form of the plugin. */


.form-row label {
    display: inline-block;
    width: 150px;
}
.form-row input,
.form-row select {
    display: inline-block;
    width: 200px;
}

#content.has-sidebar {
    width: 75%;
    float: left;
}
.sidebar {
    width: 20%;
    float: right;
}
.sidebar .postbox {
    min-width: 0;
}

h4 {
    margin: 0;
    clear: both;
}

input.wide {
    /*max-width: 90%;*/
}

#woocommerce_pricefiles_exclude_ids {
    width: 90%;
}

label.shipping-method {
    padding: 0 15px 10px 0;
    white-space: nowrap;
    float: left;
}
label.shipping-method input {
    margin-left: 5px;
}

#shipping-destination {
    max-width: 400px;
}
input[type="text"]:disabled
{
    color: #000;
}

#woocommerce-pricefiles_expand_disable_timeout_info
{
    
}

#woocommerce-pricefiles_disable_timeout_info 
{
    
}

#woocommerce-pricefiles_disable_timeout_info pre
{
    display: block;
    padding: 13.5px;
    margin: 0 0 14px;
    font-size: 15px;
    line-height: 1.75;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}
